/* General look */
html{
    background-color: black;
    font: 20px Verdana;
    color: white;
    text-align: center;
}

h1{
    background-color: black;
    border: 3px solid white;
    border-radius: 3px;
    padding: 0.5em;
    margin: 1em 30%;
}

#container{
    margin: 1em 10% 0.5em 10%;
    border: 3px solid white;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

#message-container{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons-container{
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.button{
    padding: 1em;
    border: 3px solid white;
    border-radius: 3px;
}

#message{
    font-size: 2em;
}
